
*{
    font-size:small;
}

.navbar{
    background-color:#3b5d50;
}

.nav-link{
    color: white;
    margin-right: 1.7rem;
    opacity: 0.4;
}

.banner-section{
    background-color:#3b5d50;
    height: 15rem;
}

li{
    list-style: none;
}

 .person-details h2{
    text-decoration: underline;
}

.person-details a{
    text-decoration: underline;
}


a{
    text-decoration: none;
    color: black;
}


p{
    color: gray;
}

span{
    color: gray;
}

h2{
    font-weight: 400;
}

h6{
    font-weight: 700;
}

.footer-2 a{
    line-height: 2.5rem;
}

.icon-footer i{
    padding: 0.6rem;
    background-color: rgb(229, 226, 226);
    border-radius: 50%;
    margin-right: 0.5rem;
    color: #3b5d50;
}

.carousel-item img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: auto;
    margin-top: 2rem;
}

.carousel-footer{
    text-align: center;
    margin-top: 1.4rem;
    margin-bottom: 5rem;
}

.carousel-indicators [data-bs-target] {
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    height: 12px;
    width: 12px;
}

.carousel-control-next, .carousel-control-prev {
opacity: 1;
}